@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
}

/*=============== NAVBAR ==============*/
.nav-bar {
    width: 100%;
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.nav__menu {
    text-decoration: none;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    list-style-type: none;
}

.nav__text {
    text-decoration: none;
    color: #FFF;
}

/*================= HERO ==================*/
.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.bg__cover {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}