@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*============= Variables ===============*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
}

/*=============== NAVBAR ==============*/
.nav-bar {
  width: 100%;
  position: absolute;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 2rem;
  padding-top: 2rem;
  z-index: 10000;
}

.logo {
  width: 50%;
  margin-left: 10%;
}

.logo .logo__name {
  font-size: 1.8rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  padding: 0 3rem;
}

.nav__link {
  text-decoration: none;
  list-style-type: none;
  padding-left: 3rem;
}

.nav__text {
  text-decoration: none;
  color: #121212;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

/*================= HERO ==================*/
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg__cover {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 10s ease;
  transition: 10s ease;
  z-index: 2;
}

.bg__cover:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#111), to(transparent));
  background: linear-gradient(to top, #111, transparent);
}

.information__container {
  z-index: 10;
  color: #121212;
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
}

.information__container .information__title {
  font-size: 2.2rem;
}

.information__container .information__subtitle {
  font-size: 1.4rem;
  padding-top: 0.3rem;
}

.information__container .recipe__button {
  background-color: #FFF;
  border-radius: 10px;
  padding: 4px 10px;
  margin-top: 1rem;
  color: #121212;
  font-size: 1.3rem;
  -webkit-box-shadow: 2px 2px 5px #121212;
          box-shadow: 2px 2px 5px #121212;
}

.information__container .recipe__button:hover {
  -webkit-box-shadow: 4px 4px 5px #121212;
          box-shadow: 4px 4px 5px #121212;
}

/*======================= Hero Container =======================*/
.hero__recipe {
  width: 100%;
  height: 100vh;
}

.hero__recipe .container__recipe {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__recipe .recipes {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100vh;
  padding-top: 3%;
  z-index: 1000;
}

.hero__recipe .real__recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.hero__recipe .real__recipe:before {
  width: 330px;
  height: 330px;
  color: #FFF;
}

.hero__recipe .meal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__recipe .random {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.hero__recipe .hover__picture {
  font-size: 1.2rem;
  color: #FFF;
}

.hero__recipe .recipe__image {
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.hero__recipe .ingredient__title {
  color: #121212;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  width: 320px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #121212;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero__recipe .ingredient__container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.72);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 320px;
}

.hero__recipe .ingredient__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.2rem;
}

.hero__recipe .ingredient__name {
  font-weight: 700;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

.hero__recipe .ingredient__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
}

.hero__recipe .ingredient__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

/*=========================== LOGIN ====================================*/
.login__container {
  z-index: 1000;
  background-color: #FFFFFF;
  width: 560px;
  height: 560px;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */