@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*============= Variables ===============*/
$headerDist: 3rem;
$mainWhite: #FFF;
$mainBlack: #121212;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    //  background-color: #121212;
}

section {
    position: relative;
    width: 100%;
}

/*=============== NAVBAR ==============*/
.nav-bar {
    width: 100%;
    position: absolute;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 2rem;
    padding-top: 2rem;
    z-index: 10000;
}

.logo {
    width: 50%;
    margin-left: 10%;
    
    .logo__name {
        font-size: 1.8rem;
    }
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 50%;
    padding: 0 3rem;
}

.nav__link {
    text-decoration: none;
    list-style-type: none;
    padding-left: 3rem;
}

.nav__text {
    text-decoration: none;
    color: #121212;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

/*================= HERO ==================*/
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__cover {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 10s ease;
    z-index: 2;
}

.bg__cover:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}

.information__container {
    z-index: 10;
    color: #121212;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;

    .information__title {
        font-size: 2.2rem;
    }

    .information__subtitle {
        font-size: 1.4rem;
        padding-top: 0.3rem;
    }

    .recipe__button {
        background-color: #FFF;
        border-radius: 10px;
        padding: 4px 10px;
        margin-top: 1rem;
        color: #121212;
        font-size: 1.3rem;
        box-shadow: 2px 2px 5px #121212;
    }

    .recipe__button:hover {
        box-shadow: 4px 4px 5px #121212;
    }
}

/*======================= Hero Container =======================*/@at-root
.hero__recipe {
    width: 100%;
    height: 100vh;

    .container__recipe {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recipes {
        align-self: center;
        width: 100%;
        height: 100vh;
        padding-top: 3%;
        z-index: 1000;
    }
    // .meal {
    //     display: grid;
    //     grid-template-columns: repeat(2, 2fr);
    //     margin-top: 3rem;
    // }

    .real__recipe {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    .real__recipe:before {
        width: 330px;
        height: 330px;
        color: #FFF;
    }
    
    .meal__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .random {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .hover__picture {
        font-size: 1.2rem;
        color: #FFF;
    }

    .recipe__image {
        width: 320px;
        height: 320px;
        cursor: pointer;
    }

    .ingredient__title {
        color: #121212;
        margin-top: 2rem;
        background-color: rgba(255,255,255,0.75);
        width: 320px;
        border-top-left-radius: 10px;  
        border-top-right-radius: 10px;
        border-bottom: 1px solid #121212;
        display: none;
        justify-content: center;
        align-self: center;
    }

    .ingredient__container {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgba(255,255,255,0.72);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 320px;
    }

    .ingredient__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 0.2rem;
    }

    .ingredient__name {
        font-weight: 700;
        font-size: 1.3rem;
        display: flex;
        justify-self: flex-end;
        align-items: center;
        padding-right: 2rem;
    }
    
    .ingredient__amount {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 2rem;
    }

    .ingredient__quantity {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 1rem;
    }
}

/*=========================== LOGIN ====================================*/
.login__container {
    z-index: 1000;
    background-color: #FFFFFF;
    width: 560px;
    height: 560px;
    border-radius: 5px;
}